// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/docs/v8/framework/articles/ValoExamples.html

@import "../valo/valo.scss";
@import "common.scss";
@import "views/login.scss";
@import "views/pacientes.scss";
@import "views/pacientes_card.scss";
@import "views/edit_pacientes.scss";
@import "views/configuracion.scss";
@import "views/consultorios.scss";

// Optimize the CSS output
$v-included-components: remove($v-included-components, accordion);
$v-included-components: remove($v-included-components, colorpicker);
$v-included-components: remove($v-included-components, popupview);
$v-included-components: remove($v-included-components, progressbar);
$v-included-components: remove($v-included-components, slider);
$v-included-components: remove($v-included-components, splitpanel);
$v-included-components: remove($v-included-components, table);
$v-included-components: remove($v-included-components, tree);
$v-included-components: remove($v-included-components, treetable);
$v-included-components: remove($v-included-components, twincolselect);


@mixin triton {
    @include valo;
    @include app-common;
    @include app-login-view;
    @include app-pacientes-view;
    @include app-pacientes_card-view;
    @include app-edit-paciente-view;
    @include app-configuracion-view;
    @include app-consultorios-view;
}
